/* 
    Document   : productividades
    Created on : 24-oct-2012, 18:08:16
    Author     : Luisao
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.theader{
    

    
    color: white;
    background: url("bg.gif") repeat-x scroll left top white;
    text-align: center;  
    font-weight: bold;
}

.tsubheader{
    
    color: white;
    background: url("bg.gif") repeat-x scroll left top white;
    text-align: center;   
    font-weight: bold;
    
    
}

.tsubheadercc{
    
    color: white;
    background: url("bg.gif") repeat-x scroll left top white;
    text-align: center;   
    font-size: 9px;
    
    
}

.tsubheadertotal{
    
    background-color: #99cc00;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
}

.tproductividades{
    
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-spacing:1px !important;
    font-size: 11px;
    width: 100%;
    
}

.tregistroselected{
    background-color: #ffb703;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}


.tregistro{
    //background-color: #fffbf4;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}

.tregistroOtro{
  //  background-color: #fffbf4;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #999;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}

.tregistroaprobado{
  //  background-color: #fffbf4;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #336600;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}


.tregistroencargado{
  //  background-color: #F8F8F8;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #ffb703;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;

}

.tregistroapendiente{
//    background-color: #fffbf4;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #DD0000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
}


.tregistrototalaprobado{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: green;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
}

.tregistrototalencargado{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #DD0000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
}

.tregistroatotalpendiente{
    background-color: #ccccff;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: red !important;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
}

.tregistropersona{
    background-color: #ffffcc;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}


.tregistropersonaaprobado{
    background-color: #ffffcc;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #336600;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight:  bold;
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}

.tregistropersonaencargado{
    background-color: #ffffcc;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #ffb300;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
}

.tregistroapersonapendiente{
    background-color: #ffffcc;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #DD0000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
}

.tregistrorechazado{
    background-color: #ffffcc;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #ff3333;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}

.tregistrototal{
    background-color: #ccccff;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}


.tregistrototalred{
    background-color: #ff6666;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}


.tregistrototalcol{
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
}

.tregistrototalFila{
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #000000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
}

.ui-autocomplete-loading { 
background: white url('load.gif') right center no-repeat; 
}

div.loading {
    background-color: #eee;
    background-image: url('load.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
}
div.loading * {
    opacity: .8;
}

.tfiltro{       
    padding:2px 1px 1px 1px !important; 
    border-bottom: 0px solid #000000 !important; 
    margin-bottom:0em !important; 
}

tr.red
{
        background: #E5F1F4;
        color:red;
        font-weight: bold;
}

tr.green
{
        background: #E5F1F4;
        color:green;
        font-weight: bold;
}

tr.yellow
{
        background: #E5F1F4;
        color: #ffb300;
        font-weight: bold;
}

tr.normal
{
        background: #F8F8F8;
}

.alertaCierre{
    color: #DD0000;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 12x;
    font-weight: bold;
}

.abierto{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: dodgerblue;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
}



input[type=text], input[type=password], textarea,select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 1px 1px 1px 0px;
    border: 1px solid #DDDDDD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #ffffff, #f5f5f5)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #f5f5f5))!important;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #f5f5f5 100%)!important;

}
 
input[type=text]:focus, input[type=password]:focus, textarea:focus,select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 1px 1px 1px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #ffffff, #eef9fa)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #eef9fa))!important;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #eef9fa 100%)!important;
    
}            


.red
{
        color:red;
        font-weight: bold;
}