@charset "UTF-8";

/** 
 * Default Linear CSS Drop-Down Menu Theme
 *
 * @file		default.linear.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute
 *
 */

@import "default.css";


ul.dropdown {
 width: 100px;
 background-color: #eee;
 border-bottom: solid 1px #ccc;
}

	ul.dropdown li {
	 border: none;
	 background-color: #eee;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-color: #f6f6f6;
	 color: #000;
	}

	ul.dropdown ul {
	 width: 760px;
	 margin-top: 0;
	 border-top: solid 1px #ccc;
	 background-color: #f6f6f6;
	}

		ul.dropdown ul li {
		 background-color: #f6f6f6;
		}

		ul.dropdown ul li.hover {
		 margin: 0;
		 border: none;
		}


ul.dropdown ul *.dir {
 padding-right: 7px;
 background-image: none;
}